.section-template__cart-items-padding {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  @media screen and (min-width: 750px) {
    .section-template__cart-items-padding {
      padding-top: 36px;
      padding-bottom: 36px;
    }
  }
