.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    color: #777777b8!important;
}

.form-control[readonly] {
    background-color: #f7f8fa !important;
    cursor: default;
}

.k-notification .k-notification__item .k-notification__item-details .k-notification__item-content {
    font-size: 1rem;
    font-weight: 400;
    color: #a1a8c3;
    max-height: 6rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.k-header-menu .k-menu__nav > .k-menu__item .k-menu__submenu > .k-menu__subnav > .k-menu__item > .k-menu__link__new {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 11px 30px;
    color: #646c9a;
    font-weight: 400;
}

.k-header-menu .k-menu__nav > .k-menu__item .k-menu__submenu > .k-menu__subnav > .k-menu__item.k-menu__item--active > .k-menu__link__new {
    background-color: #fafbff;
    color: #5867dd;
}

.cursor-not-allowed {
    cursor: not-allowed!important;
}
#notifications_dropdown .noti-wrapper .notification_item {
    border-bottom: 1px solid #f7f8fa;
}
#notifications_dropdown .noti-wrapper .notification_icon .flaticon2-bell {
    color: #586272 !important;
}
#notifications_dropdown .noti-wrapper .notification_icon .flaticon2-bell.unread {
    color: #5867dd !important;
}
.payment-processing-badge {
    width: 130px !important;
}
.dataTables_filter input[type="search"] {
    width: 100% !important;
}

.k-checkbox-inline.is-invalid ~ .invalid-feedback,
.k-radio-inline.is-invalid ~ .invalid-feedback,
.k-checkbox-list.is-invalid ~ .invalid-feedback,
.k-radio-list.is-invalid ~ .invalid-feedback,
.btn.is-invalid ~ .invalid-feedback {
    display: block;
}

a.nav-link.is-invalid {
    color: #fd397a!important;
}

a.active.nav-link.is-invalid {
    border-bottom: 1px solid #fd397a!important;
}

button.btn.is-invalid {
    color: #fff;
    background-color: #fd397a;
    border-color: #fd397a;
}

.btn.is-invalid:not(:disabled):not(.disabled):active, .btn.is-invalid:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #fc0758;
    border-color: #f40252;
}

.k-wizard-v3 .k-wizard-v3__nav .k-wizard-v3__nav-items .k-wizard-v3__nav-item.is-invalid span {
    background-color: #fd397aba!important;
    color: #fff!important;
}

.k-wizard-v3 .k-wizard-v3__nav .k-wizard-v3__nav-items .k-wizard-v3__nav-item.is-invalid[data-kwizard-state="current"] span {
    background-color: #fd397a!important;
    color: #fff!important;
}

.k-wizard-v3 .k-wizard-v3__nav .k-wizard-v3__nav-items .k-wizard-v3__nav-item.is-invalid .k-wizard-v3__nav-label {
    color: #fd397a!important;
}
.dropdown.bootstrap-select .dropdown-menu {
    z-index: 100;
}
.bootstrap-select .dropdown-menu li.dropdown-header {
    padding-left: 0 !important;
}
.bootstrap-select .dropdown-menu li.dropdown-header .text {
    padding: 10px 15px;
}
.payout-processing:after {
    content: "\f110";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    animation: fa-spin 1s steps(8) infinite;
    margin-left: 5px;
}
.datatable tr td pre {
    max-height: 100px;
    overflow-y: scroll;
}
.datatable .child .dtr-details .dtr-data {
    width: 100%;
}
.datatable .child .dtr-details .dtr-data pre {
    white-space: pre-wrap !important;
}

.daterangepicker .calendar-time select.hourselect, .daterangepicker .calendar-time select.secondselect {
    width: 60px;
    padding: 0.2rem 0.3rem;
}

.daterangepicker select.monthselect, .daterangepicker select.secondselect {
    border: 1px solid #ebedf2 !important;
    background: 0 0!important;
    border-radius: 3px !important;
}

.daterangepicker .ranges ul {
    padding: 0 0 !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
    margin-top: 0.4rem;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0 1rem;
}

.copy-text-click {
    cursor:pointer;
}

.select2-selection--multiple {
    padding: 0.5rem;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
    display: none!important;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple, .select2-container--default.select2-container--disabled .select2-selection--single {
    opacity: 0.8;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    margin-right: 0!important;
    margin-top: 0!important;
    font-size: 1.5rem;
    font-weight: unset;
}
.select2-container--default.select2-container--disabled .select2-selection__clear {
    display: none!important;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
