/* read more in collection description */
.read_more_span {
    overflow: hidden;
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    height: 5rem;
    }

  .read_more_span--clamp{
    height: min-content
  }

  .read_more_span p, .read_more_span span {
    margin: 0;
  }

  .read_more_btn{
    margin: 0 auto;
  }
  /* Modal force z-index*/
  .modal__content{
    z-index:1000;
  }
  /*Infinite Scroll*/
  .Infinite-Scroll-Pagination{
    display: flex;
    justify-content:center;
    }
