.editorjs-content ul {
    list-style: disc;
}

.editorjs-content ul li {
    padding: 5.5px 0 5.5px 3px;
    line-height: 1.6em;
}

.editorjs-content code {
    background: rgba(250, 239, 240, 0.78);
    color: #b44437;
    padding: 3px 4px;
    border-radius: 5px;
    margin: 0 1px;
    font-family: inherit;
    font-size: 0.86em;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.editorjs-content .ce-block__content {
    position: relative;
    max-width: 650px;
    margin: 0 auto;
    -webkit-transition: background-color .15s ease;
    transition: background-color .15s ease;
}

.editorjs-content .ce-block__content, .ce-toolbar__content {
    max-width: unset!important;
}

.editorjs-content .cdx-block {
    padding: 0.4em 0;
}

.editorjs-content .ce-delimiter {
    line-height: 1.6em;
    width: 100%;
    display: block;
    text-align: center;
}

.editorjs-content .ce-delimiter:before {
    display: inline-block;
    content: "***";
    font-size: 30px;
    line-height: 65px;
    height: 30px;
    letter-spacing: 0.2em;
}

.editorjs-content a {
    cursor: pointer;
    -webkit-text-decoration: underline;
    text-decoration: underline;
}
